<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.renren.modules.sport.dao.ProjectMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="io.renren.modules.sport.entity.Project" id="projectMap">
        <result property="id" column="id"/>
        <result property="trainGoal" column="train_goal"/>
        <result property="projectCode" column="project_code"/>
        <result property="projectName" column="project_name"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="minAge" column="min_age"/>
        <result property="maxAge" column="max_age"/>

    </resultMap>
    <sql id="Base_column_list">
        `id`,`train_goal`,`project_name`,`project_code`,``min_age`,`max_age`,`remark`,`create_time`,`update_time`
    </sql>
   <!-- <select id="getProjectByAge" resultMap="projectMap">
        SELECT
        <include refid="Base_column_list"/>
        FROM
        `sport_project`
      <![CDATA[
        WHERE min_age <=#{age}
          AND max_age >=#{age}
      ]]>
    </select>-->


</mapper>