<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.renren.modules.sport.dao.ProjectConfigMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="io.renren.modules.sport.entity.ProjectConfig" id="projectConfigMap">
        <result property="id" column="id"/>
        <result property="trainGoal" column="train_goal"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="minScore" column="min_score"/>
        <result property="maxScore" column="max_score"/>
        <result property="scoreLevel" column="score_level"/>
        <result property="minAge" column="min_age"/>
        <result property="maxAge" column="max_age"/>
        <result property="gender" column="gender"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>