<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.renren.modules.sport.dao.StudentGradeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="io.renren.modules.sport.entity.StudentGrade" id="studentGradeMap">
        <result property="id" column="id"/>
        <result property="studentId" column="student_id"/>
        <result property="ageRange" column="age_range"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="speed" column="speed"/>
        <result property="lowStrength" column="low_strength"/>
        <result property="upperStrength" column="upper_strength"/>
        <result property="flexibility" column="flexibility"/>
        <result property="cardiopulmonary" column="cardiopulmonary"/>
        <result property="coreStrength" column="core_strength"/>
        <result property="tgmd3Check" column="tgmd3_check"/>
        <result property="sensitivity" column="sensitivity"/>
        <result property="checkTime" column="check_time"/>
        <result property="score" column="score"/>
        <result property="suggestion" column="suggestion"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getByLastTwoStudentId" resultMap="studentGradeMap">
        SELECT
          *
        FROM
          sport_student_grade
        WHERE student_id = #{studentId}
        order by id desc
        limit 2
    </select>


</mapper>