<!DOCTYPE html>
<html>
<head>
    <title>年龄段体重标准</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sport:bmiconfig:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sport:bmiconfig:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sport:bmiconfig:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">标准范围</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.normWeightRange" placeholder="标准范围"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">低重范围</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.lowWeightRange" placeholder="低重范围"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">超重范围</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.overWeightRange" placeholder="超重范围"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">肥胖范围</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.fatWeightRange" placeholder="肥胖范围"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">年龄段</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.minAge" placeholder="年龄段"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">年龄段</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.maxAge" placeholder="年龄段"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">性别1：男 2：女</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.gender" placeholder="性别1：男 2：女"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.remark" placeholder="备注"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="bmiConfig.updateTime" placeholder="修改时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sport/bmiconfig.js?_${.now?long}"></script>
</body>
</html>