<!doctype html>
<html lang="en">
<head>
    <#include "/header.html">
    <title>学生成绩报表导出</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>
</head>
<body>

<div class="container" id="main">
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <td colspan="10"> <h2 class="text-center" style="align-content: center; background-color: yellow;">梦锐体能测评报告</h2></td>
            </tr>
            <tr>
                <th>门店</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>年龄段</th>
                <th>出生年月</th>
                <th>测试日期</th>
                <th>训练课时</th>
                <th>出勤率</th>
                <th>测试人</th>
            </tr>
            <tr>
                <th>${student.schoolName}</th>
                <th>${student.realname}</th>
                <th>${student.gender}</th>
                <th>${age}</th>
                <th>${lastStuGrade.ageRange}</th>
                <th>${student.birthday}</th>
                <th>${lastStuGrade.checkTime}</th>
                <th>${lastStuGrade.trainHours} 小时</th>
                <th>${lastStuGrade.attendance} %</th>
                <th>${lastStuGrade.teacherName}</th>
            </tr>

            <tr>
                <td colspan="5">该年龄段训练目标	 </td>
                <td colspan="5">身体形态测评</td>
            </tr>
            <tr>
                <td colspan="5">
                    <span style="width: 50%;">
                      ${trainGoal.trainGoal}
                    </span>

                </td>
                <td colspan="5">
                    <table class="table table-border">
                        <tr>
                            <td colspan="2">身高</td>
                            <td colspan="2">${lastBmiGrade.height} cm</td>
                            <td rowspan="2" colspan="2">
                                BMI：<br/>
                                <span style="color: red;">${lastBmiGrade.bmiGrade}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">体重</td>
                            <td colspan="2">${lastBmiGrade.weight}KG</td>
                        </tr>
                        <tr>
                            <td colspan="2">身体质量指数评价</td>
                            <td colspan="6">
                                <div id="bmiChart" style="width: 300px;height:200px;">
                                    柱状图
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="10">身体素质测评数据 </td>
            </tr>
            <tr>
                <td colspan="10">

                    <table class="table table-border">
                        <tr>
                            <td>测试项目</td>

                            <#list lastProGradeList as proGrade>
                                <td>${proGrade.projectType} <br/>  ${proGrade.projectName}</td>
                            </#list>
                        </tr>
                        <tr>
                            <td>成绩</td>
                            <#list lastProGradeList as proGrade>
                                <td>${proGrade.projectGrade}</td>
                            </#list>
                        </tr>
                        <tr>
                            <td>上次成绩</td>

                                <#list lastProGradeList as proGrade>
                                <td>
                                    <#list prevProjectGradeList as prevGrade>
                                        <#if proGrade.projectId== prevGrade.projectId>
                                            ${prevGrade.projectGrade}
                                        </#if>
                                    </#list>
                                </td>
                                </#list>

                        </tr>
                        <tr>
                            <td>增长值</td>
                            <#list lastProGradeList as proGrade>
                                <td>
                                    <#list prevProjectGradeList as prevGrade>
                                    <#if proGrade.projectId== prevGrade.projectId>
                                        ${proGrade.projectGrade - prevGrade.projectGrade!0}
                                    </#if>
                                    </#list>
                                </td>
                            </#list>
                        </tr>
                        <tr>
                            <td>满分成绩</td>
                            <#list lastProGradeList as proGrade>
                            <td>
                                <#list projectFullScore as fullScore>
                                    <#if proGrade.projectId == fullScore.projectId>
                                        ${fullScore.minScore}
                                    </#if>
                                </#list>
                            </td>
                            </#list>
                        </tr>
                        <tr>
                            <td>评分</td>
                            <#list lastProGradeList as proGrade>
                            <td>
                                <#list prevProjectGradeList as prevGrade>
                                <#if proGrade.projectId== prevGrade.projectId>
                                    ${(proGrade.projectGrade + prevGrade.projectGrade!0)/2}
                                </#if>
                            </#list>
                            </td>
                        </#list>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="5"> 数据雷达对比图 </td>
                <td colspan="5"> TGMD-3 大肌肉群发展测试</td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="four-body" id="radarId" style="width:223px; height:210px;text-align: center;">
                        雷达图
                    </div>

                </td>
                <td colspan="5">
                    <div class="four-right-body" id="barChart" style="width:223px; height:210px;text-align: center;">
                        柱状图
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <table class="table table-border" >
                        <#list lastProGradeList as proGrade>
                            <tr>
                                <td>${proGrade.projectType} <br/>  ${proGrade.projectName}</td>
                                <td>${proGrade.suggestion}</td>
                            </tr>
                        </#list>

                        <tr>
                            <td>综合测评</td>
                            <td>${lastStuGrade.suggestion}</td>
                        </tr>
                  </td>
            </tr>
        </table>
        <table class="table table-bordered">
            <tr>
                <td colspan="5">测试评价结果</td>
            </tr>
            <tr>
                <td>
                    本次体能测试结果评价为
                </td>
                <td>${passDesc}</td>
                <td>你的测评成绩为</td>
                <td>${scoreDesc}</td>
            </tr>
            <tr>
                <td colspan="5">
                    既然选择了踏上这条道路，那么，任何东西都不应该妨碍我沿着这条路走下去！请保持良好的出勤！
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    用运动，改变未来
                </td>
            </tr>
        </table>
    </div>

</div>
<script src="${request.contextPath}/statics/js/modules/sport/exportStuGrade.js?_${.now?long}"></script>
<script>
    var radarChartData=[];
    var barCheckDataY =[];
    var barDataX =[];
    var lastScore=0;
    var lastCheckTime;
    <#list lastProGradeList as item>
        radarChartData.push({projectType:"${item.projectType}",score:"${item.score}"});
        lastCheckTime = "${item.checkTime}";
        if('tgmd3_check' == "${item.projectType}"){
            lastScore = "${item.score}";
        }
    </#list>
    barDataX.push(lastCheckTime);
    barCheckDataY.push(lastScore);
    radarChartFun(radarChartData);

    var prevScore = 0;
    <#list prevProjectGradeList as item>
        barDataX.push("${item.checkTime}");
        if('tgmd3_check' == "${item.projectType}"){
            prevScore = "${item.score}";
        }
    </#list>
    barCheckDataY.push(prevScore);
    var barFullDataY = [];
    fullScore = "100";
    <#list projectFullScore as item>
        if('tgmd3_check' == "${item.projectType}"){
            fullScore = "${item.minScore}";
        }
    </#list>
    barFullDataY.push(fullScore);
    barFullDataY.push(fullScore);
    barChartFun(barDataX,barFullDataY,barCheckDataY)

    var bmiDataY=[];
    var bmiFullDataY=[];
    var checkDataY ="${lastBmiGrade.bmiGrade}";
    <#list bmiConfigs as item>
        var bmi = "${item.normWeightRange}".split("-");
        bmiFullDataY.push((bmi[0]+bmi[1])/2);
    </#list>
    for(let fd in bmiFullDataY){
        bmiDataY.push(bmiFullDataY[fd])
    }
    bmiDataY.push(checkDataY);
    for(let fd in bmiFullDataY){
        bmiDataY.push(bmiFullDataY[fd])
    }
    bmiChartFun(bmiDataY);
</script>


</body>
</html>